@font-face {
  font-family: "Boston Symbols 1889";
  src: url("./BostonSymbols1889-Regular.woff2") format("woff2"),
       url("./BostonSymbols1889-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
