@font-face {
  font-family: "Baltimore Cuts 1832";
  src: url("./BaltimoreCuts1832-Regular.woff2") format("woff2"),
       url("./BaltimoreCuts1832-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
