@font-face {
  font-family: "Jagged 1888";
  src: url("./Jagged1888-Regular.woff2") format("woff2"),
       url("./Jagged1888-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
